# Retirar informação do BPSTAT - Utilizando API

In [1]:
import pandas as pd

## Retirar o Valor das Séries do BPSTAT - teste efetuado para o conjunto series_1 <p>(total de 100 séries)</p>

In [2]:
series_1="12527177,12527593,	12528981,	12528982,	12528983,	12528984,	12528985,	12529009,	12529013,	12529030,	12529042,	12529046,	12529050,	12556757,	12529005,	12528973,	12525804,	12526144,	12528652,	12529089,	12526148,	12526183,	12530228,	12530235,	12530246,	12526179,	12530080,	12530201,	12526159,	12530130,	12530140,	12530181,	12530173,	12530165,	12529974,	12529981,	12530123,	12530066,	12530098,	12530077,	12530091,	12529959,	12530062,	12530044,	12530029,	12528986,	12528987,	12528988,	12529073,	12529074,	12529076,	12529077,	12529078,	12529079,	12529080,	12529081,	12529082,	12529083,	12529084,	12529085,	12529086,	12529087,	12529088,	12529090,	12529091,	12529092,	12529093,	12529094,	12529095,	12529096,	12528830,	12529097,	12529098,	12556550,	12556568,	12556586,	12556616,	12556633,	12556673,	12556723,	12557378,	12557382,	12556761,	12556758,	12556759,	12556760,	12557379,	12557380,	12557381,	12556699,	12557793,	12557795,	12557805,	12556691,	12557777,	12557782,	12556684,	12556647,	12556631,	12556636"
series_2="12556667,12556675,	12556659,	12556662,	12556646,	12556622,	12556580,	12556613,	12556579,	12556600,	12556597,	12556571,	12556564,	12556547,	12528752,	12528753,	12528755,	12528756,	12528757,	12528758,	12528759,	12528760,	12528761,	12528762,	12528763,	12528764,	12528765,	12528766,	12528767,	12528769,	12528770,	12528771,	12528772,	12528773,	12528774,	12528775,	12526109,	12528776,	12528777,	12528741,	12528742,	12528743,	12528642,	12528768,	12529352,	12530219,	12530224,	12530232,	12530240,	12530205,	12530210,	12530198,	12530144,	12530128,	12530135,	12530184,	12530176,	12530168,	12530160,	12530153,	12530120,	12530011,	12530096,	12530079,	12530088,	12530083,	12530058,	12530046,	12530031,	12556690,	12557787,	12557796,	12557802,	12556692,	12557775,	12557784,	12556685,	12556649,	12556630,	12556638,	12556677,	12556665,	12556660,	12556655,	12556651,	12556624,	12556578,	12556608,	12556584,	12556601,	12556593,	12556590,	12556565,	12556548,	12556697,	12557791,	12557798,	12557803,	12556694,	12557776"
series_3="12557789,12556687,	12556644,	12556634,	12556641,	12556679,	12556670,	12556671,	12556656,	12556653,	12556625,	12556589,	12556610,	12556585,	12556602,	12556599,	12556591,	12556569,	12556551"

In [3]:
series_1=series_1.replace("	","")
series_2=series_2.replace("	","")
series_3=series_3.replace("	","")

In [4]:
#print(series_1)
#print(series_2)
#print(series_3)

In [5]:
url=f'https://bpstat.bportugal.pt/api/observations/csv/?series_ids={series_1}&language=PT'

In [6]:
print(url)

https://bpstat.bportugal.pt/api/observations/csv/?series_ids=12527177,12527593,12528981,12528982,12528983,12528984,12528985,12529009,12529013,12529030,12529042,12529046,12529050,12556757,12529005,12528973,12525804,12526144,12528652,12529089,12526148,12526183,12530228,12530235,12530246,12526179,12530080,12530201,12526159,12530130,12530140,12530181,12530173,12530165,12529974,12529981,12530123,12530066,12530098,12530077,12530091,12529959,12530062,12530044,12530029,12528986,12528987,12528988,12529073,12529074,12529076,12529077,12529078,12529079,12529080,12529081,12529082,12529083,12529084,12529085,12529086,12529087,12529088,12529090,12529091,12529092,12529093,12529094,12529095,12529096,12528830,12529097,12529098,12556550,12556568,12556586,12556616,12556633,12556673,12556723,12557378,12557382,12556761,12556758,12556759,12556760,12557379,12557380,12557381,12556699,12557793,12557795,12557805,12556691,12557777,12557782,12556684,12556647,12556631,12556636&language=PT

In [7]:
df_BPSTAT = pd.read_csv(url,header=0, index_col="Período de referência",  encoding="ISO-8859-1", sep=';')  
df_BPSTAT.index = pd.to_datetime(df_BPSTAT.index, format='%Y-%m')
df_BPSTAT.index.names = ['Periodo']
df_BPSTAT.head()

,# Série,Designação da série (PT),Métrica,Unidade de Medida,Valor,Estado
Periodo,,,,,,
2009-01-31,12525804,Empréstimos-SNF-Pequenas-M (OIFM),Valor em fim do período,Milhões de euros,27517.5,NaN
2009-02-28,12525804,Empréstimos-SNF-Pequenas-M (OIFM),Valor em fim do período,Milhões de euros,27810.3,NaN
2009-03-31,12525804,Empréstimos-SNF-Pequenas-M (OIFM),Valor em fim do período,Milhões de euros,27824.0,NaN
2009-04-30,12525804,Empréstimos-SNF-Pequenas-M (OIFM),Valor em fim do período,Milhões de euros,27824.4,NaN
2009-05-31,12525804,Empréstimos-SNF-Pequenas-M (OIFM),Valor em fim do período,Milhões de euros,28031.1,NaN

In [8]:
df_BPSTAT.columns

Index(['# Série', 'Designação da série (PT)', 'Métrica', 'Unidade de Medida',
       'Valor', 'Estado'],
      dtype='object')

In [9]:
df_BPSTAT['Serie']=df_BPSTAT['# Série']
df_BPSTAT['Designa_serie']=df_BPSTAT['Designação da série (PT)']
df_BPSTAT=df_BPSTAT[['Serie','Valor']]

In [10]:
df_BPSTAT.columns

Index(['Serie', 'Valor'], dtype='object')

In [11]:
#testar resultado
df_BPSTAT.head()
series_distinct=pd.unique(df_BPSTAT['Serie'])
len(series_distinct)

100

## Código múltiplas séries (retirar todas as séries por blocos (máximo de 100 por bloco)

In [12]:
import pandas as pd

series_1="12527177,12527593,	12528981,	12528982,	12528983,	12528984,	12528985,	12529009,	12529013,	12529030,	12529042,	12529046,	12529050,	12556757,	12529005,	12528973,	12525804,	12526144,	12528652,	12529089,	12526148,	12526183,	12530228,	12530235,	12530246,	12526179,	12530080,	12530201,	12526159,	12530130,	12530140,	12530181,	12530173,	12530165,	12529974,	12529981,	12530123,	12530066,	12530098,	12530077,	12530091,	12529959,	12530062,	12530044,	12530029,	12528986,	12528987,	12528988,	12529073,	12529074,	12529076,	12529077,	12529078,	12529079,	12529080,	12529081,	12529082,	12529083,	12529084,	12529085,	12529086,	12529087,	12529088,	12529090,	12529091,	12529092,	12529093,	12529094,	12529095,	12529096,	12528830,	12529097,	12529098,	12556550,	12556568,	12556586,	12556616,	12556633,	12556673,	12556723,	12557378,	12557382,	12556761,	12556758,	12556759,	12556760,	12557379,	12557380,	12557381,	12556699,	12557793,	12557795,	12557805,	12556691,	12557777,	12557782,	12556684,	12556647,	12556631,	12556636"
series_2="12556667,12556675,	12556659,	12556662,	12556646,	12556622,	12556580,	12556613,	12556579,	12556600,	12556597,	12556571,	12556564,	12556547,	12528752,	12528753,	12528755,	12528756,	12528757,	12528758,	12528759,	12528760,	12528761,	12528762,	12528763,	12528764,	12528765,	12528766,	12528767,	12528769,	12528770,	12528771,	12528772,	12528773,	12528774,	12528775,	12526109,	12528776,	12528777,	12528741,	12528742,	12528743,	12528642,	12528768,	12529352,	12530219,	12530224,	12530232,	12530240,	12530205,	12530210,	12530198,	12530144,	12530128,	12530135,	12530184,	12530176,	12530168,	12530160,	12530153,	12530120,	12530011,	12530096,	12530079,	12530088,	12530083,	12530058,	12530046,	12530031,	12556690,	12557787,	12557796,	12557802,	12556692,	12557775,	12557784,	12556685,	12556649,	12556630,	12556638,	12556677,	12556665,	12556660,	12556655,	12556651,	12556624,	12556578,	12556608,	12556584,	12556601,	12556593,	12556590,	12556565,	12556548,	12556697,	12557791,	12557798,	12557803,	12556694,	12557776"
series_3="12557789,12556687,	12556644,	12556634,	12556641,	12556679,	12556670,	12556671,	12556656,	12556653,	12556625,	12556589,	12556610,	12556585,	12556602,	12556599,	12556591,	12556569,	12556551"

series=[series_1,series_2,series_3]

In [13]:
k=0
for i in series:
    k=k+1
    i=i.replace("	","")
    
    # importar a Base de Dados do BPSTAT
    url=f'https://bpstat.bportugal.pt/api/observations/csv/?series_ids={i}&language=PT'
    df_BPSTAT = pd.read_csv(url,header=0, index_col="Período de referência",  encoding="ISO-8859-1", sep=';')  
    df_BPSTAT.index = pd.to_datetime(df_BPSTAT.index, format='%Y-%m')
    df_BPSTAT.index.names = ['Periodo']
    
    # filtrar pelas colunas que desejo e renomear
    df_BPSTAT['Serie']=df_BPSTAT['# Série']
    df_BPSTAT=df_BPSTAT[['Serie','Valor']]
    
    #colocar tudo em um único dataframe
    if k==1:
        df_final=df_BPSTAT
    else:
        df_final=df_final.append(df_BPSTAT)

In [14]:
#testar resultado
df_final.head()
series_distinct=pd.unique(df_final['Serie'])
len(series_distinct)

219

## Código PowerBI  (igual ao anterior - código junto para importar)

In [15]:
import pandas as pd

series_1="12527177,12527593,	12528981,	12528982,	12528983,	12528984,	12528985,	12529009,	12529013,	12529030,	12529042,	12529046,	12529050,	12556757,	12529005,	12528973,	12525804,	12526144,	12528652,	12529089,	12526148,	12526183,	12530228,	12530235,	12530246,	12526179,	12530080,	12530201,	12526159,	12530130,	12530140,	12530181,	12530173,	12530165,	12529974,	12529981,	12530123,	12530066,	12530098,	12530077,	12530091,	12529959,	12530062,	12530044,	12530029,	12528986,	12528987,	12528988,	12529073,	12529074,	12529076,	12529077,	12529078,	12529079,	12529080,	12529081,	12529082,	12529083,	12529084,	12529085,	12529086,	12529087,	12529088,	12529090,	12529091,	12529092,	12529093,	12529094,	12529095,	12529096,	12528830,	12529097,	12529098,	12556550,	12556568,	12556586,	12556616,	12556633,	12556673,	12556723,	12557378,	12557382,	12556761,	12556758,	12556759,	12556760,	12557379,	12557380,	12557381,	12556699,	12557793,	12557795,	12557805,	12556691,	12557777,	12557782,	12556684,	12556647,	12556631,	12556636"
series_2="12556667,12556675,	12556659,	12556662,	12556646,	12556622,	12556580,	12556613,	12556579,	12556600,	12556597,	12556571,	12556564,	12556547,	12528752,	12528753,	12528755,	12528756,	12528757,	12528758,	12528759,	12528760,	12528761,	12528762,	12528763,	12528764,	12528765,	12528766,	12528767,	12528769,	12528770,	12528771,	12528772,	12528773,	12528774,	12528775,	12526109,	12528776,	12528777,	12528741,	12528742,	12528743,	12528642,	12528768,	12529352,	12530219,	12530224,	12530232,	12530240,	12530205,	12530210,	12530198,	12530144,	12530128,	12530135,	12530184,	12530176,	12530168,	12530160,	12530153,	12530120,	12530011,	12530096,	12530079,	12530088,	12530083,	12530058,	12530046,	12530031,	12556690,	12557787,	12557796,	12557802,	12556692,	12557775,	12557784,	12556685,	12556649,	12556630,	12556638,	12556677,	12556665,	12556660,	12556655,	12556651,	12556624,	12556578,	12556608,	12556584,	12556601,	12556593,	12556590,	12556565,	12556548,	12556697,	12557791,	12557798,	12557803,	12556694,	12557776"
series_3="12557789,12556687,	12556644,	12556634,	12556641,	12556679,	12556670,	12556671,	12556656,	12556653,	12556625,	12556589,	12556610,	12556585,	12556602,	12556599,	12556591,	12556569,	12556551"

series=[series_1,series_2,series_3]

k=0
for i in series:
    k=k+1
    i=i.replace("	","")
    
    # importar a Base de Dados do BPSTAT
    url=f'https://bpstat.bportugal.pt/api/observations/csv/?series_ids={i}&language=PT'
    df_BPSTAT = pd.read_csv(url,header=0, index_col="Período de referência",  encoding="ISO-8859-1", sep=';')  
    df_BPSTAT.index = pd.to_datetime(df_BPSTAT.index, format='%Y-%m')
    df_BPSTAT.index.names = ['Periodo']
    
    # filtrar pelas colunas que desejo e renomear
    df_BPSTAT['Serie']=df_BPSTAT['# Série']
    df_BPSTAT=df_BPSTAT[['Serie','Valor']]
    
    #colocar tudo em um único dataframe
    if k==1:
        df_final=df_BPSTAT
    else:
        df_final=df_final.append(df_BPSTAT)

df_final= df_final.reset_index()

In [16]:
df_final.head()

     Periodo     Serie    Valor
0 2009-01-31  12525804  27517.5
1 2009-02-28  12525804  27810.3
2 2009-03-31  12525804  27824.0
3 2009-04-30  12525804  27824.4
4 2009-05-31  12525804  28031.1